<!-- templates/layouts/base.html -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title th:fragment="title">기본 타이틀</title>

    <link rel="stylesheet" th:href="@{/vendor/fontawesome-free/css/all.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/sb-admin-2.min.css}"/>
</head>
<body id="page-top">
<div id="wrapper">

    <aside th:replace="~{fragments/sidebar :: sidebar(currentUri=${currentUri})}"></aside>

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <header th:replace="~{fragments/topbar :: topbar}"></header>

            <!-- 여기만 페이지마다 바뀜 -->
            <main class="container-fluid">
                <div layout:fragment="content"></div>
            </main>
        </div>

        <footer th:replace="~{fragments/footer :: footer}"></footer>
    </div>
</div>

<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/sb-admin-2.js}"></script>
</body>
</html>