<!-- templates/pages/index.html -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">
<head>
    <title layout:fragment="title">대시보드</title>
</head>
<body>
<section layout:fragment="content">
    <h1 class="h3 mb-4 text-gray-800">대시보드</h1>
    <!-- 여기부터 이 페이지 전용 콘텐츠 -->
    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">…</div>
        <!-- 카드/차트 등 SB Admin 2 컴포넌트 배치 -->
    </div>
</section>
</body>
</html>