<!-- templates/pages/chart/index.html -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">
<head>
    <title layout:fragment="title">채용 공고 통계</title>
</head>
<body>
<section layout:fragment="content">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">채용 공고 통계</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Export Report
        </a>
    </div>

    <div th:replace="~{fragments/chart/overview :: chartOverview}"></div>
</section>

<th:block layout:fragment="script-extra">
    <th:block th:replace="~{fragments/chart/overview :: chartScripts}"></th:block>
</th:block>
</body>
</html>
