<!-- templates/fragments/sidebar.html -->
<nav xmlns:th="http://www.thymeleaf.org" th:fragment="sidebar(currentUri)"
     class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">JobPort</div>
    </a>

    <hr class="sidebar-divider my-0"/>

    <li class="nav-item" th:classappend="${#strings.startsWith(currentUri, '/')} ? ' active'">
        <a class="nav-link" th:href="@{/}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>대시보드</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading ko-word-wrap">
        공공기관 채용공고 조회
    </div>

    <li class="nav-item" th:classappend="${#strings.startsWith(currentUri, '/job-postings')} ? ' active'">
        <a class="nav-link" th:href="@{/job-postings}">
            <!--                <i class="fas fa-fw fa-chart-area"></i>-->
            <i class="fas fa-fw fa-list"></i>
            <span>전체 목록</span></a>
    </li>
    <li class="nav-item" th:classappend="${#strings.startsWith(currentUri, '/bookmarks')} ? ' active'">
        <a class="nav-link" th:href="@{/bookmarks}">
            <i class="fas fa-fw fa-bookmark"></i>
            <span>북마크</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading ko-word-wrap">
        이력 관리
    </div>

    <li class="nav-item" th:classappend="${#strings.startsWith(currentUri, '/resumes')} ? ' active'">
        <a class="nav-link" th:href="@{/resumes}">
            <!--                <i class="fas fa-fw fa-chart-area"></i>-->
            <i class="fas fa-fw fa-user-tie"></i>
            <span>이력 사항</span></a>
    </li>
    <li class="nav-item" th:classappend="${#strings.startsWith(currentUri, '/cover-letters')} ? ' active'">
        <a class="nav-link" th:href="@{/cover-letters}">
            <i class="fas fa-fw fa-file-signature"></i>
            <span>자기소개서</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading ko-word-wrap">
        통계
    </div>

    <li class="nav-item" th:classappend="${#strings.startsWith(currentUri, '/recruitment-statistics')} ? ' active'">
        <a class="nav-link" th:href="@{/recruitment-statistics}">
            <!--                <i class="fas fa-fw fa-chart-area"></i>-->
            <i class="fas fa-fw fa-chart-area"></i>
            <span>채용 현황</span></a>
    </li>
    <!-- 메뉴 계속… -->

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</nav>